{
    "extends": [
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "prettier/@typescript-eslint"
    ],
    "globals": {
        "it": false,
        "test": false,
        "expect": false,
        "assert": false,
        "process": false,
        "Worker": false,
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "array-callback-return": "warn",
        "import/no-cycle": "warn",
        "no-use-before-define": "warn",
        "no-underscore-dangle": "warn",
        "consistent-return": "warn",
        "no-param-reassign": "warn",
        "no-nested-ternary": "warn",
        "no-restricted-globals": "warn",
        "prettier/prettier": "error",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "ts": "never",
                "tsx": "never"
            }
        ]
    }
}